{% extends "dashboard/base.html" %}
{% block content %}
    <div class="main-panel">
        <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Expense Report </h3>
        </div>
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Line chart</h4>
                <canvas id="lineChart" style="height:250px"></canvas>
                </div>
            </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Bar chart</h4>
                <canvas id="barChart" style="height:230px"></canvas>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Area chart</h4>
                <canvas id="areaChart" style="height:250px"></canvas>
                </div>
            </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Doughnut chart</h4>
                <div class="doughnutjs-wrapper d-flex justify-content-center">
                    <canvas id="doughnutChart" style="height:250px"></canvas>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © {{year_name}} <a href="https://www.bootstrapdash.com/" class="text-decoration-none" target="_blank">Navin Kumar</a>. All rights reserved.</span>
        <span class="text-muted float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
      </div>
    </footer>
  </div>
{% endblock content %}